version: '3.4'

# proper indendation is critical in these files, 2 spaces are required for each indentation.
# Comprehensive Documentation: https://docs.docker.com/compose/compose-file/
services:

  catalogdb:
    image: mongo

  basketdb:
    image: redis:alpine

  portainer:
    image: portainer/portainer-ce

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile # very important path


 # containers which exist on client system in their own seperate containers
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile

volumes:    
  mongo_data:
  portainer_data:
