version: '3.4'

# list of all services in the architecture
services:

 basketdb:
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"

 catalogdb:
    container_name: catalogdb
    restart: always
    ports:
      - "27017:27017"   # container port number/ local computer port number
    volumes:  
      - mongo_data:/data/db

 discountdb:
    container_name: discountdb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
      - POSTGRES_DB=DiscountDb
    restart: always
    ports:
        - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

 orderdb:
    container_name: orderdb
    environment:
        SA_PASSWORD: "SwN12345678"
        ACCEPT_EULA: "Y"
    restart: always
    ports:
        - "1433:1433"
 
 rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"


 pgadmin:
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=Walt@WeAreUSS.com
      - PGADMIN_DEFAULT_PASSWORD=Assh0les!
    restart: always
    ports:
        - "5050:80"
    volumes:
      - pgadmin_data:/root/.pgadmin

 portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # comes from documentation for portainer and docker
      - portainer_data:/data


 basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CacheSettings:RedisConnectionString=basketdb:6379" # override appsettings.json to use our Redis container... NOTICE: NOT "localhost"
      - "GrpcSettings:DiscountUrl=http://discount.grpc" # also used in video: "GrpcSettings:DiscountUrl=discount.grpc", question submitted
      - "EventBusSettings:HostAddress=amqp://guest:guest@rabbitmq:5672"
    depends_on:
      - basketdb # our basket.api depends on basketdb for caching of ShoppingCart, also this says to start db before basket.api
      - rabbitmq
    ports:
      - "8001:80"

 catalog.api:
    container_name: catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:MongoConnectionString=mongodb://catalogdb:27017" # override appsettings.json to use our new mongo container...
    depends_on:
      - catalogdb # our catalog.api depends on catalogdb, also this says to start db before catalog.api
    ports:
      - "8000:80" # port forward container port 8000 to our local port 80
      
 discount.api:
    container_name: discount.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:PostgresConnectionString=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;"
    depends_on:
      - discountdb
    ports:
      - "8002:80"

 discount.grpc:
    container_name: discount.grpc
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:PostgresConnectionString=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;"
    depends_on:
      - discountdb
    ports:
      - "8003:80"

 ordering.api:
    container_name: ordering.api
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings:OrderingConnectionString=Server=orderdb;Database=OrderDb;User Id=sa;Password=SwN12345678"  
        - "EventBusSettings:HostAddress=amqp://guest:guest@rabbitmq:5672"
    depends_on:
        - orderdb
        - rabbitmq
    ports:
        - "8004:80"


